<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Indicator Mapping | UN Environment">
    <meta name="author" content="emunozh@gmail.com">
     <link rel="icon" href="/static/favicon.ico">

    <title>About | Indicator Mapping</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>About</h2>
          <img src="/static/logo.png" alt="UN Environment"></p>
          <h3>Authors:</h3>
          <ul>
              <li><a href="mailto:emunozh@gmail.com">Esteban Muñoz</a></li>
              <li><a href="mailto:emunozh@gmail.com">André Confiado</a></li>
              <li><a href="mailto:alice.lovenbruck@gmail.com">Alice Lövenbruck</a></li>
          </ul>
          <h3>Contributions:</h3>
          <ul>
              <li><a target="_blank" href="https://github.com/emunozh/indicators_map">Your name here!</a></li>
          </ul>


          <p><a href="/">Home</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
